{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
<div class="container-fluid my-2">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/random/1600x700/?ice-cream" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: black; border-radius: 65px;">
          <h5><b>Well come to my shop</b></h5>
          <p>Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/1600x700/?Chocolate,sweet" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: blue; border-radius: 65px;">
          <h5><b>Well come to my shop</b></h5>
          <p>Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/1600x700/?sweet,Chocolate" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: purple; border-radius: 65px;">
          <h5>  <b>Well come to my shop</b></h5>
          <p>Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
  <div class="boxed" style="width: 50%margin-top: 8%; margin-left: 10%; margin-right: 10%;">
  <h3>About Ice-Cream</h3>
  <p> <i>Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches. It can also be made by whisking a flavored cream base and liquid nitrogen together. Food coloring is sometimes added, in addition to stabilizers. The mixture is cooled below the freezing point of water and stirred to incorporate air spaces and to prevent detectable ice crystals from forming. The result is a smooth, semi-solid foam that is solid at very low temperatures (below 2 °C or 35 °F). It becomes more malleable as its temperature increases.
    <br>
    The meaning of the name "ice cream" varies from one country to another. In some countries, such as the United States, "ice cream" applies only to a specific variety, and most governments regulate the commercial use of the various terms according to the relative quantities of the main ingredients, notably the amount of cream.[1] Products that do not meet the criteria to be called ice cream are sometimes labelled "frozen dairy dessert" instead.[2] In other countries, such as Italy and Argentina, one word is used for all variants. Analogues made from dairy alternatives, such as goat's or sheep's milk, or milk substitutes (e.g., soy, cashew, coconut, almond milk or tofu), are available for those who are lactose intolerant, allergic to dairy protein or vegan.
    <br> <br>
    Ice cream may be served in dishes, for eating with a spoon, or licked from edible wafer cones. Ice cream may be served with other desserts—such as apple pie, or as an ingredient in ice cream floats, sundaes, milkshakes, ice cream cakes and baked items, such as Baked Alaska.!</i></p>
  </div>
</div>
{% endblock body %}
